@model IEnumerable<Parking.Models.PriceTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Tabela de Preços</h1>

<a asp-action="Create">
    <input class="btn btn-success" type="Submit" value="Criar Tabela de Preços">
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InicioVigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FimVigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHoraInical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHoraAdicional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InicioVigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FimVigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorHoraInical)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorHoraAdicional)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <input class="btn btn-success" type="Submit" value="Editar">
                    </a><a asp-action="Details" asp-route-id="@item.Id">
                        <input class="btn btn-dark" type="Submit" value="Detalhes">
                    </a><a asp-action="Delete" asp-route-id="@item.Id">
                        <input class="btn btn-danger" type="Submit" value="Excluir">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
