@model IEnumerable<Parking.Models.VehicleControl>

@{
    ViewData["Title"] = "Index";
}

<h1>Controle de Veículos</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-action="Create">
                <input class="btn btn-success" type="Submit" value="Registrar Entrada">
            </a>
        </div>
        <div class="col-md-4 ml-auto">
            @using (Html.BeginForm())
            {
                <form class="navbar-form navbar-right" role="search">
                    @Html.TextBox("SearchString")
                    <button type="submit" class="btn btn-success">Filtrar</button>
                </form>
            }
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdHorasCobradas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraSaida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdHorasCobradas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorHora)
                </td>
                <td>
                    @if (item.HoraEntrada.Equals(item.HoraSaida))
                    {
                        <a asp-action="Checkout" asp-route-id="@item.Id">
                            <input class="btn btn-success" type="Submit" value="Registar Saída">
                        </a>
                        <br />
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <input class="btn btn-dark" type="Submit" value="Editar">
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <input class="btn btn-danger" type="Submit" value="Excluir">
                        </a>

                    }
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <input class="btn btn-success" type="Submit" value="Detalhes">
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>